<div class="card minStage">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-md-auto noPadding ml-3">
                <!-- <img src="/assets/images/default-avatar.jpg" alt="Username" class="rounded-circle thumb50" /> -->
                <span class="avatarLetter">{{unm[0]?.slice(0, 1)?.toUpperCase()}}{{unm[1]?.slice(0, 1)?.toUpperCase()}}</span>
            </div>
            <div class="col">
                <div class="upHeader justify-content-between">
                    <span class="upUsername d-block">{{name}}</span>
                    <span class="text-sent d-block">
                        <strong>Data Delivered</strong>
                        <i class="fa fa-check cyanTxt ng-star-inserted"></i>
                      </span>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div *ngIf="showLock;else showBtn">
            <div class="row justify-content-md-center">
                <h1>Your data is being encrypted…</h1>
            </div>
            <div class="row justify-content-md-center">
                <i class="fa fa-lock text-success fa-6" aria-hidden="true"></i>
            </div>
        </div>

        <ng-template #showBtn>
            <div class="row justify-content-md-center">
                <p class="col-8 text-center subTitle pt-5">Your data has been successfully delivered to {{name}}.</p>
            </div>
            <div class="row justify-content-md-center">
                <p class="col-8 text-center subTitle pt-5">The data has been encrypted and will be stored securely for 32 days. The person requesting the data will recieve an email inviting them to retrieve their data. Only after verifying their identity will the requester be able to unencrypt
                    the data.</p>
            </div>
            <div class="row justify-content-md-center">
                <button type="button" (click)="closeProfile()" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}"> Close </button>
            </div>
        </ng-template>

    </div>
</div>