<div class="row">
    <div class="col-lg-6 mr-auto">
        <h2 class="subTitle">{{pageTitle}}</h2>
        <div *ngIf="isTrail;else showBilling">
            <div class="row pt-20">
                <div class="col-lg-12">
                    <h3 class="childTitle">Payment details</h3>
                </div>
            </div>
            <div class="row userType">
                <div class="col-md-8">
                    <span class="userName">{{cardHolderName}} - XXXX-XXXX-XXXX-{{cardDetails}}</span>
                    <span class="userType">Expires {{cardExpiryMonth}}/{{cardExpiryYear}}</span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-light usertypeBtn" id="cardDetails" (click)="editCardDetails()">Edit</button>
                </div>
            </div>
            <div class="row pt-20">
                <div class="col-lg-12">
                    <h3 class="childTitle">Plan subscription</h3>
                </div>
            </div>
            <div class="row userType pt-0">
                <div class="col-md-8">
                    <span class="userName">{{planDetails}}</span>
                    <span class="userType">{{planCurrency}} {{planCharges}} {{planInterval}}</span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-light usertypeBtn" id="plan" (click)="editPlan()">Change Plan</button>
                </div>
            </div>
            <!-- <div class="row pt-20">
      <div class="col-lg-12">
        <h3 class="childTitle">Consumption fees for the current billing period</h3>
      </div>
    </div>
    <div class="row userType">
      <div class="col-md-12">
        <span class="userName">Send / Receive Transactions</span>
        <span class="userType">€231</span>
      </div>
      <div class="col-md-12">
        <span class="userName">Identity Verification</span>
        <span class="userType">€342</span>
      </div>
      <div class="col-md-12">
        <span class="userName">Data storage</span>
        <span class="userType">€97</span>
      </div>
      <div class="col-md-4">
        <button class="btn btn-light usertypeBtn" id="plan" (click)="editPlan()">Edit</button>
      </div>
    </div> -->
            <!-- <div class="row pt-20">
      <div class="col-lg-12">
        <h3 class="childTitle">Billing history</h3>
      </div>
    </div>
    <div class="row userType" *ngFor="let billing of billingHistory">
      <div class="col-md-3">
        <span class="userName">{{billing.date}}</span>
      </div>
      <div class="col-md-4">
        <span class="userName">{{billing.plan}}</span>
      </div>
      <div class="col-md-2">
        <span class="userName">{{billing.amount}}</span>
      </div>
      <div class="col-md-3">
        <button class="btn btn-light usertypeBtn" id="billing" (click)="viewBilling()">View</button>
      </div>
    </div> -->

            <div class="col-auto">
                <button type="button" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}" id="signupBtn" (click)="saveChanges()">Save Changes</button>
            </div>
        </div>
        <ng-template #showBilling>
            <div class="row pt-20">
                <div class="col-lg-12">
                    <h3 class="childTitle">You are currently on a free trial.</h3>
                </div>
                <div class="col-lg-12">
                    <span>Upgrade to a paid plan to unlock the full potential of IDlink.</span>
                </div>
            </div>
            <div class="col-auto pt-20">
                <button type="button" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}" id="signupBtn" (click)="upgradePlan()">Upgrade to a paid plan</button>
            </div>
        </ng-template>
    </div>