<div *ngIf="!isAdmin">
  <h1 class="mb-3">Requests</h1>
  <ngb-tabset #tabs="ngbTabset" [activeId]="activeIdName" (tabChange)="setReqStatus()">
    <ngb-tab id="allReqs">
      <ng-template ngbTabTitle>
        <span class="text-uppercase font-weight-bold">ALL REQUESTS</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-all-req [reqStatus]="reqStatus"></app-all-req>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="yourReqs">
      <ng-template ngbTabTitle>
        <span class="text-uppercase font-weight-bold">YOUR REQUESTS</span>
        <span class="spBadge">{{yourReqCount}}</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-your-req [reqStatus]="reqStatus"></app-your-req>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="toAppReqs">
      <ng-template ngbTabTitle>
        <span class="text-uppercase font-weight-bold">To approve</span>
        <span class="spBadge">{{toApproveCount}}</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-to-approve [reqStatus]="reqStatus"></app-to-approve>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
