<div class="card minStage mt-2-5">
  <div class="closeBtnModal">
    <button aria-label="Close" class="btn close" type="button" [routerLink]="['/dashboard']">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <app-user-details [name]="name" [dueInDays]="dueInDays" [reqStatus]="reqStatus" [dueDate]="dueDate"></app-user-details>
      </div>
      <div class="col-md-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary w-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Data
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" routerLink="/users/import-file/{{requestId}}" type="button">Import data files</button>
            <button class="dropdown-item" routerLink="/users/import-data/{{requestId}}" type="button">Start with a template</button>
            <button class="dropdown-item" routerLink="/users/add-manual/{{requestId}}" type="button">Add data manually</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary w-btn" (click)="sendData()" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
          Ready for delivery
        </button>
      </div>
    </div>
  </div>
  <div class="card-body tmplMinheight">
    <div class="import-data mb30 mt-3 pl-3">
      <div class="row">
        <div class="col-lg-2 filterPanel" id="fitlerResult">
          <form class="">
            <div class="form-group">
              <label for="userSeachbox" class="textLabel font-weight-bold text-small text-uppercase">Collected Data</label>
              <input type="text" id="userSeachbox" aria-describedby="Filter Collected Data" class="form-control searchIcon" name="userSeachbox"
              />
            </div>
          </form>
          <span class="importDataTitle pt-1 pb-1">BROWSE BY CATEGORY</span>
          <p-panelMenu [model]="items"></p-panelMenu>
        </div>
        <div class="col-lg-8">
          <div class="row justify-content-md-center" *ngIf="showTemplates">
            <div class="col-lg-12 pt-20">
              <h2 class="subTitle">Add data using an input form</h2>
              <div class="row align-items-center">
                <div class="col">
                  <p class="text-muted">New input forms can be created in Settings > Templates</p>
                </div>
                <div class="col-md-auto">
                  <button type="button" class="btn btn-secondary w-btn mr-3" routerLink="/users/user-profile"> Cancel </button>
                </div>
              </div>
              <ul class="list-group tmplTableList">
                <li class="list-group-item pb-0 mb-2 pl-1">
                  FORM NAME
                </li>
                <li class="list-group-item pl-1" *ngFor="let item of templateColn;let i = index">
                  <div class="row">
                    <div class="col">
                      {{item?.name}}
                    </div>
                    <div class="col-2 text-right">
                      <button class="btn btn-light w-btn" (click)="editTemplate(item?.id)"> Select </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <p-growl [(value)]="msgs"></p-growl>
          <div id="safe-sidenav" name="safe-sidenav" [ngClass]="{'safe-sivenav': true, 'active': data!=null}">
            <div name="safe-sidenav" class="settingTitle pb-3">Settings</div>
            <div name="safe-sidenav" *ngIf="tableColumns;else otherT">
              <h3 class="textHeading pt-1">Table Column</h3>
              <div *ngFor="let col of tableColumns|slice:1:tableColumns.length">
                <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="col.header" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                />
              </div>
              <h3 class="textHeading pt-3">Table Row</h3>
              <div *ngFor="let col of tableRows">
                <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="col.Column0" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                />
              </div>
            </div>
            <ng-template #otherT>
              <div name="safe-sidenav" *ngIf="data?.id=='dateRange'||data?.id=='fullName';else singleVal">
                <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                />
                <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value1" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                />
                <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value2" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                />
              </div>
              <ng-template #singleVal>
                <div name="safe-sidenav" *ngIf="data">
                  <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value" (focus)="focusFunction()" (focusout)="focusOutFunction()"
                  />
                </div>
              </ng-template>

            </ng-template>

          </div>
          <div class="mt-5" *ngIf="showTemplateData">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="subTitle">{{templateName}}</h2>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary w-btn mr-3" (click)="cancelTemplateData()"> Cancel </button>
                <button type="button" class="btn btn-primary" (click)="saveTemplateData()" [disabled]="!recordName" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
                  Save </button>
              </div>
            </div>
            <div *ngIf="recordName===''||recordName==null" class="errorMessages pb-0 mb-0">
              Name is required.
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pb-0 w-100 {{isDirtyRN}}">
              <input (focus)="focusFunction('recordName')" [(ngModel)]="recordName" (focusout)="focusOutFunction('recordName')" class="mdl-textfield__input form-control safePlaceHolder noBorder"
                type="text" id="recordName" aria-required="true">
              <label class="mdl-textfield__label w-50" for="recordName">Name the record</label>
            </div>
            <p class="text-muted">This name will help you identity the different records you have created using this template.</p>
            <tb-template style='display:block;margin-bottom:75px;' [dragula]='"first-bag"' [dragulaModel]="sharedData.templateData"></tb-template>
          </div>
          <div class="tempTabs" *ngIf="showRecords">
            <ngb-tabset>
              <ngb-tab title="Records">
                <ng-template ngbTabContent>
                  <app-records [informationTypeId]="informationTypeId"></app-records>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Imported Files">
                <ng-template ngbTabContent>
                  <app-imported-files [requestId]="requestId" [informationTypeId]="informationTypeId"></app-imported-files>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
