<h1 class="mb-3">
    {{pageTitle}}</h1>
<div [style.display]="displaySettings">
    <ngb-tabset #tabs (tabChange)="beforeChange($event)">
        <ngb-tab id="general" title="GENERAL">
            <ng-template ngbTabContent>
                <app-general></app-general>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="myProfile">
            <ng-template ngbTabTitle>MY PROFILE</ng-template>
            <ng-template ngbTabContent>
                <app-my-profile></app-my-profile>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="company" title="COMPANY" *ngIf="(!isSystemUser && !isSysManager) || isAdmin">
            <ng-template ngbTabContent>
                <app-company></app-company>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="roles" title="ROLES" *ngIf="(!isSystemUser && !isSysManager) || isAdmin">
            <ng-template ngbTabContent>
                <app-roles></app-roles>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="templates" *ngIf="(isSystemUser && !isSysManager) || isAdmin">
            <ng-template ngbTabTitle>
                <div>TEMPLATES</div>
            </ng-template>
            <ng-template ngbTabContent>
                <app-template-start-edit></app-template-start-edit>
            </ng-template>
        </ngb-tab>
        <!-- <ngb-tab id="plans" title="PLANS">
            <ng-template ngbTabContent>
                <app-plans></app-plans>
            </ng-template>
        </ngb-tab> -->
        <ngb-tab id="plans" title="REQUESTS" *ngIf="(isSystemUser && !isSysManager) || isAdmin">
            <ng-template ngbTabContent>
                <app-requests></app-requests>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="billing" title="BILLING" *ngIf="(!isSystemUser && !isSysManager) || isAdmin">
            <ng-template ngbTabContent>
                <app-billing></app-billing>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<div [style.display]="displayTb" class="tempTabs">
    <ngb-tabset>
        <ngb-tab title="Build">
            <ng-template ngbTabContent>
                <app-template-builder></app-template-builder>
            </ng-template>
        </ngb-tab>
        <!-- <ngb-tab title="Settings">
            <ng-template ngbTabContent>
                <app-tb-settings></app-tb-settings>
            </ng-template>
        </ngb-tab> -->
    </ngb-tabset>
</div>