<div class="tmpItel-row" id="addBtn" [attr.data-guid]="guid" *ngIf="showItem" style='position: absolute;bottom:0;'>

  <!-- <tb-template [dragula]='"first-bag"' [dragulaModel]="sharedData.templateData"></tb-template> -->

  <div class="dropdown">
    <button class="btn btnDefault dropdown-toggle roundBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">+</button>
    <div class="dropdown-menu roundBtnItems" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('header','string')">
        <img src="/assets/images/icon-tb-heading.svg" alt="Heading" class="tmplIcon" /> Heading
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('ste','string')">
        <img src="/assets/images/icon-tb-shorttextentry.svg" alt="Insert Short Text Entry Field" class="tmplIcon" /> Text
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('number','number')">
        <img src="/assets/images/icon-tb-number.svg" alt="Insert Number Field" class="tmplIcon" /> Number
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('table','object')">
        <img src="/assets/images/icon-tb-table.svg" alt="Insert Table" class="tmplIcon" /> Table
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('date','string')">
        <img src="/assets/images/icon-tb-date.svg" alt="Insert Date" class="tmplIcon" /> Date
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('dateRange','string')">
        <img src="/assets/images/icon-tb-daterange.svg" alt="Insert Date Range" class="tmplIcon" /> Date Range
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('fullName','string')">
        <img src="/assets/images/icon-tb-fullname.svg" alt="Insert Fullname" class="tmplIcon" /> Full Name
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('address','string')">
        <img src="/assets/images/icon-tb-address.svg" alt="Insert Address Field" class="tmplIcon" /> Address
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('email','string')">
        <img src="/assets/images/icon-tb-email.svg" alt="Insert eMail Field" class="tmplIcon" /> Email
      </a>
      <a class="dropdown-item pt-3" href="javascript:void(0);" (click)="addItem('phone','string')">
        <img src="/assets/images/icon-tb-phone.svg" alt="Insert Phone Field" class="tmplIcon" /> Phone
      </a>
    </div>
  </div>
</div>
