<div class="container-fluid heightWrapper" style="background-color: #FFF;">
  <div class="container borderBottom pt-3">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <img class="IdlinkConsumerBrand" src="{{imageData}}" alt="" />
      </div>
      <div class="col-md-4 text-right">
        <img class="IdlinkConsumerlogo" src="/assets/images/png/poweredByIDLink.png" alt="Powered By IDLink" />
      </div>
    </div>
  </div>
  <div class="backBtn">
    <button (click)="goBack()" type="button" class="btn btn-link">
      <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
        <title id="catTitle">Back to login</title>
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" class="backBtnColor" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </button>
  </div>
  <div class="container-fluid" *ngIf="errorMessage">
    <div class="row justify-content-md-center mt-5">
      <div class="col-md-4 alert alert-danger" role="alert">
        <h2 class="text-uppercase">Something went wrong. </h2>
        <strong>{{errorMessage}}</strong>
      </div>
    </div>
  </div>
  <div *ngIf="isReqSent;else showForm" class="container-fluid">
    <div class="container-fluid" *ngIf="successMessage">
      <div class="row justify-content-md-center mt-5">
        <div class="col-md-4">
          <h2 class="text-uppercase">Request received</h2>
          <p class="lineH_1">Your request for data has been received. You will receive a link to download your data within 30 days. You will
            then have 32 days to download your data.</p>
          <button (click)="goBack()" class="btn btn-secondary">Return to Website</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #showForm>
    <div class="container-fluid">
      <div class="row justify-content-md-center mt-5">
        <div class="col-md-4">
          <h2 class="text-uppercase">Request your Data</h2>
          <p class="lineH_1">In order to process your request, we will need the following details.</p>
        </div>
      </div>
      <form [formGroup]="createForm">
        <div *ngIf="serverError" class="row justify-content-md-center">
          <div class="col-md-4">
            <span class="errorMessages d-block p-0" *ngFor="let error of serverError">
              {{error.value}}
            </span>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4">
            <div class="form-group row">
              <label for="firstname" class="col-md-3 col-form-label">First name</label>
              <div class="col-md-9">
                <input formControlName="firstName" type="text" class="form-control" id="firstname" placeholder="First name" aria-placeholder="Enter first name">
                <div *ngIf="createForm.controls.firstName.hasError('required') && createForm.controls.firstName.touched" class="col-12 errorMessages pl-1 pt-2">
                  First Name is required.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastname" class="col-md-3 col-form-label">Last name</label>
              <div class="col-md-9">
                <input formControlName="lastName" type="text" class="form-control" id="lastname" placeholder="Last name" aria-placeholder="Enter last name">
                <div *ngIf="createForm.controls.lastName.hasError('required') && createForm.controls.lastName.touched" class="col-md-12 errorMessages pl-1 pt-2">
                  Last Name is required.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="customerid" class="col-md-3 col-form-label">Customer ID</label>
              <div class="col-md-9">
                <input formControlName="customerId" type="text" class="form-control" id="customerid" placeholder="Customer ID (Optional)"
                  aria-placeholder="Enter customer id - optional">
              </div>
            </div>

            <div class="form-group row mb-1">
              <label for="emailId" class="col-md-3 col-form-label">E-mail</label>
              <div class="col-md-9">
                <input autocomplete="off" formControlName="emailId" type="email" email class="form-control" id="emailId" placeholder="E-mail"
                  aria-placeholder="Enter email address" [(ngModel)]="emailVerificationModel" (keyup)="emailValidator(emailVerificationModel)">
                <div *ngIf="createForm.controls.emailId.hasError('required') && createForm.controls.emailId.touched" class="col-12 errorMessages pl-1 pt-2">
                  E-mail field is empty or not a valid E-mail address.
                </div>
                <svg class="icon icon-checkmark text-success verificationSuccess_icon" *ngIf="emailVerified" aria-hidden="true">
                  <use xlink:href="#icon-checkmark">
                    <symbol id="icon-checkmark" viewBox="0 0 32 32">
                      <title>E-mail is verified</title>
                      <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z"></path>
                    </symbol>
                  </use>
                </svg>
              </div>
            </div>
            <div class="form-group row verified mt-0" *ngIf="emailVerified" aria-hidden="true">
              <div class="col-md-9 offset-md-3">
                <span class="text-success">Your E-mail account has been verified.</span>
              </div>
            </div>
            <!-- verify email box -->
            <div class="row verifyContent" *ngIf="emailVerificationBox">
              <div class="col confirmationBox">
                <p>To verify your email, click ‘send code’, then enter the verification code we sent you.</p>
                <div class="row">
                  <div class="col-md-5">
                    <button [disabled]="!createForm.valid" (click)="sendCodebyEmail()" class="col-12 btn btn-darkGray w-btn">Send code</button>
                  </div>
                  <div class="col-md-5">
                    <input autocomplete="off" formControlName="emailverificationCode" type="text" class="form-control" placeholder="Enter code"
                      aria-placeholder="Enter code you have received in email" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="phone" class="col-md-3 col-form-label">Phone</label>
              <div class="col-md-2">
                <input autocomplete="off" type="hidden" class="form-control" [(ngModel)]="countryCode" formControlName="phoneCountryCode"
                  phoneCountryCode id="phoneCountryCode">
                <div class="btn-group">
                  <button type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown">
                    {{countryCode}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pt-0 pb-0 sfOverflow">
                    <div class="d-block" *ngFor="let country of countries">
                      <button (click)="changeCountry(country.name,country.dial_Code)" class="btn btn-light border-0 text-left w-100">{{country.name}} ({{country.dial_Code}})</button>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col-md-7">
                <input autocomplete="off" formControlName="phoneNumber" type="text" maxlength=10 aria-required="true" phone class="form-control"
                  id="phone" placeholder="Phone number (Optional)" aria-placeholder="Enter phone number (Optional)" [(ngModel)]="phoneVerificationModel"
                  (keyup)="phoneValidator(phoneVerificationModel)" (blur)="phoneValidator(phoneVerificationModel)">
                <svg class="icon icon-checkmark text-success verificationSuccess_icon" *ngIf="phoneVerified" aria-hidden="true">
                  <use xlink:href="#icon-checkmark">
                    <symbol id="icon-checkmark" viewBox="0 0 32 32">
                      <title>Phone number verified</title>
                      <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z"></path>
                    </symbol>
                  </use>
                </svg>
              </div>
              <div *ngIf="phoneVerificationBox && createForm.controls.phoneNumber.touched && createForm.controls.phoneNumber.value < 10"
                class="col-md-9 offset-md-3 errorMessages pl-3">
                Invalid phone number
              </div>
            </div>
            <div class="form-group row verified mt-0" *ngIf="phoneVerified" aria-hidden="true">
              <div class="col-md-9 offset-md-3">
                <span class="text-success">Your phone number has been verified.</span>
              </div>
            </div>

            <!-- verify phone box -->
            <div class="row verifyContent" *ngIf="phoneVerificationBox">
              <div class="col confirmationBox">
                <p>To verify your phone, click ‘send code’, then enter the verification code we sent you.</p>
                <div class="row">
                  <div class="col-md-5">
                    <button [disabled]="!createForm.valid" (click)="sendCodebyPhone()" class="col-12 btn btn-darkGray w-btn">Send code</button>
                  </div>
                  <div class="col-md-5">
                    <input autocomplete="off" formControlName="phoneverificationCode" type="text" class="form-control" placeholder="Enter code"
                      aria-placeholder="Enter phone verification code you have received." />
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6 text-left">
                <button *ngIf="!verified" (click)="cancelRequest()" class="btn btn-light">Cancel</button>
              </div>
              <div class="col-md-6 text-right">
                <button *ngIf="!verified" (click)="sendRequest()" class="btn btn-darkGray">Verify and Make Request</button>
                <!-- <button *ngIf="verified" (click)="downloadRequest()" class="btn btn-darkGray">Successfully Verified</button> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
