.row+.row {
    margin-top: 1rem;
}

.ui-inputswitch-on {
    background: #00d1b2 !important;
}

.verifyContent {
    padding: 0.5rem 0;
}

.confirmationBox {
    padding: 2rem;
    background-color: #f3f3f3;
    border-radius: 6px;
}

.IdlinkConsumerBrand {
    display: inline-block;
    height: 50px;
    width: auto;
    max-height: 50px;
}

.IdlinkConsumerlogo {
    display: inline-block;
    max-height: 50px;
    width: auto;
}

.loading {
    position: absolute;
    top: 0;
    left: 0
}

.loading .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
}

.loading .overlay .loader {
    /* background: url("/assets/images/loader-bars.svg") no-repeat center center; */
    background: url("/assets/images/loader-bars.svg") no-repeat center center;
    width: 32px;
    height: 32px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}