<div class="row">
  <div class="col-lg-8 mr-auto">
    <p-growl [(value)]="msgs"></p-growl>
    <h2 class="subTitle" aria-labelledby="InformationTypesHelpBlock">Select information types</h2>
    <small id="InformationTypesHelpBlock" class="form-text text-muted">
      Select the types of information you will be collecting. When adding records or files, you will be asked to select the information
      type. These records and files will be categorized automatically according to the hierarchy below.
    </small>
    <div class="row">
      <div class="col">
        <div id="accordion{{i.toString()}}" *ngFor="let category of categories;let i = index">
          <div class="card">
            <div class="card-header pl-0 pb-0" id="heading{{i.toString()}}">
              <button class="btn btn-link pl-0 catTitle" data-toggle="collapse" attr.data-target="#collapse{{i.toString()}}" aria-expanded="true"
                attr.aria-controls="collapse{{i.toString()}}">
                [ {{category.name}} ]
              </button>
            </div>
            <div id="collapse{{i.toString()}}" class="collapse show" attr.aria-labelledby="heading{{i.toString()}}" attr.data-parent="#accordion{{i.toString()}}">
              <div class="card-body pl-0" *ngFor="let subCat of subCategories[i]">
                <span class="subCategory">
                  [ {{subCat.name}}]
                </span>
                <form>
                  <div class="form-check  pt-2 mb-0" *ngFor="let infoType of subCat.informationTypes;let i = index">
                    <input class="form-check-input ml-0" type="checkbox" [checked]="getActiveInfoType(infoType.id)" (change)="setActiveInfoType(infoType.id,$event)"
                      id="informationType_{{i+1}}">
                    <label class="form-check-label InfotypeLight ml-4" for="informationType_{{i+1}}">
                      [ {{infoType.name}} ]
                    </label>
                  </div>
                </form>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary w-btn mr-3" id="cancelInformationtypeBtn" (click)="cancelInfoTypes()">Cancel</button>
    <button type="button" class="btn btn-primary w-btn" id="saveInformationtypeBtn" (click)="saveInfoTypes()" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">Save</button>
  </div>
</div>
