<ul class="top">
  <li>
    <a class="brandLogoHeader" [routerLink]="isAdmin ? ['/dashboard'] : []">
      <img class='idLink-logo' src="/assets/images/idlink_logo_h.svg" alt="IDLink" />
    </a>
  </li>
  <li *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" #rlaDashboard="routerLinkActive"
    [ngStyle]=" { 'border-left': rlaDashboard.isActive ?'2px solid '+ app.localStorageaccent(): '' }">
    <a [routerLink]="['/dashboard']">
      <img src="/assets/images/icons/dashboard.svg" alt="" aria-hidden="true">
      <span class="pl-3"> Dashboard </span>
    </a>
  </li>
  <li *ngIf="isAdmin" routerLinkActive="active" #rlaIncoming="routerLinkActive" [ngStyle]=" { 'border-left': rlaIncoming.isActive ?'2px solid '+ app.localStorageaccent(): '' }">
    <a [routerLink]="['/incoming-data']">
      <img src="/assets/images/icons/incomingrequests.svg" alt="" aria-hidden="true">
      <span class="pl-3"> Requests </span>
    </a>
  </li>
  <li *ngIf="isAdmin" routerLinkActive="active" #rlaUsers="routerLinkActive" [ngStyle]=" { 'border-left': rlaUsers.isActive ?'2px solid '+ app.localStorageaccent(): '' }">
    <a [routerLink]="['/users/users']">
      <img src="/assets/images/icons/user_light.svg" alt="" aria-hidden="true">
      <span class="pl-3"> Clients </span>
    </a>
  </li>
  <li routerLinkActive="active" #rlaReports="routerLinkActive" [ngStyle]=" { 'border-left': rlaReports.isActive ?'2px solid '+ app.localStorageaccent(): '' }">
    <a [routerLink]="['/reports']">
      <img src="/assets/images/icons/reports.svg" alt="" aria-hidden="true">
      <span class="pl-3"> Reports </span>
    </a>
  </li>
  <li routerLinkActive="active" #rlaSettings="routerLinkActive" [ngStyle]=" { 'border-left': rlaSettings.isActive ?'2px solid '+ app.localStorageaccent(): '' }">
    <a [routerLink]="['/settings']">
      <img src="/assets/images/icons/setttingswhite.svg" alt="" aria-hidden="true">
      <span class="pl-3"> Settings </span>
    </a>
  </li>
</ul>
<ul class="avatarIcon">
  <li class="m-0 p-0 text-center">
    <span class="avatarLetter">{{ profileName[0].substr(0,1).toUpperCase() }}{{ profileName[1].substr(0,1).toUpperCase() }}</span>
  </li>
  <li class="mt-2 mb-2 p-0 text-center text-small">
    <span class=""> {{profileName[0]}} {{profileName[1]}}</span>
  </li>
  <li class="m-0 p-0 text-center">
    <div class="dropup">
      <button type="button" class="btn btn-light w-100 border-0 rounded-0 text-small dropdown-toggle" id="userRole" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ displayRole }}
      </button>
      <div class="dropdown-menu" aria-labelledby="userRole">
        <button class="dropdown-item" type="button" *ngFor="let role of userRole" (click)="changeRole(role, $event)" [ngClass]="{'active': displayRole == role}">
          {{role}}
        </button>
      </div>
    </div>
  </li>
</ul>
