<div class="login-wrapper">
  <div class="backBtn">
    <a href="/login">
      <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
        <title id="catTitle">Back to login</title>
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" class="backBtnColor" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </div>
  <div class="login-wrapper-inner">
    <div class="login-container">

      <div class="row justify-content-center">
        <!-- <div class="col-md-offset-4 col-md-4 login"> -->
        <div class="col-md-4 text-center mt-5">
          <a href="/login">
            <img class="idLink-logo" src="/assets/images/idlink_logo_h.svg" alt="IDLink">
          </a>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="newAccount === 'welcomeUser'; else resetContent">
        <div class="col-md-4 login">
          <div class="register-title text-center" for="login-email">Welcome to SafeProfile.</div>
          <p class="text-center">We have sent you an email with a link to setup your password. Please check your email and follow the instructions.</p>
        </div>
      </div>
      <ng-template #resetContent>
        <div class="row justify-content-center">
          <div class="col-md-4 login">
            <div class="register-title text-center" for="login-email">Instructions for password reset sent</div>
            <p class="text-center">We have sent you an email with a link to reset your password. Please follow the instructions in the email.</p>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="bgWrapper" aria-hidden="true">
      <img src="/assets/images/group.svg" alt="" />
    </div>
  </div>
</div>
