<div class="confirmAssignee card minStage mt-2-5">
  <div class="card-header">
    <div class="closeBtnModal">
      <button aria-label="Close" class="btn close" type="button" (click)="closeProfile()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <p-dialog [(visible)]="display" modal="modal" [responsive]="true" minWidth="400">
      <p-header>
        Cancel Request
      </p-header>
      <textarea [rows]="5" class="w-100" pInputTextarea autoResize="false"></textarea>
      <p-footer>
        <button type="button" pButton icon="fa-check" (click)="cancelDelivery()" label="Yes"></button>
        <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
      </p-footer>

    </p-dialog>
    <p-dialog [(visible)]="displayAddDataWarning" modal="modal" [responsive]="true" minWidth="400">
      <div class="text-center">
        <div class="childTitle pb-3">Warning:</div>
        <span class="text-bold pb-3">
          If you add data, you will become the assignee, and you will need to select another approver before marking the request as
          ‘ready for delivery’
        </span>
        <div class="childTitle mb-5">Are you sure you wish to proceed?</div>
        <button class="btn w-btn btn-secondary" pButton (click)="goToLink('no')"> No </button>
        <button class="btn w-btn btn-primary" pButton (click)="goToLink('yes')"> Yes </button>
      </div>
    </p-dialog>
    <div class="row align-items-center">
      <div class="col-md-auto noPadding ml-3">
        <img *ngIf="!userName" class="d-flex align-self-center mr-3 avatarHeight rounded-circle border border-default thumb50" src="/assets/images/default-avatar.jpg"
          alt="User Image">
        <!-- <span *ngIf="userName" class="avatarLetter">{{userName?.slice(0, 1)?.toUpperCase()}}</span> -->
        <span *ngIf="userName" class="avatarLetter">{{ userName.substr(0,userName.indexOf(' '))?.slice(0, 1).toUpperCase() }}{{ userName.substr(0,userName.indexOf('
          ')+1)?.slice(0, 1).toUpperCase() }}</span>
      </div>
      <div class="col">
        <div class="upHeader justify-content-between">
          <div class="upUsername d-block">
            <span *ngIf="!userName" class="upUsername">New Request</span>
            <a *ngIf="userName" class="btn upUsername dropdown-toggle pl-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{userName}}
            </a>
            <div class="dropdown-menu">
              <a (click)="selectTab('ClientProfile')" class="dropdown-item" href="javascript:void(0);">Client profile</a>
              <a (click)="selectTab('History')" class="dropdown-item" href="javascript:void(0);">History</a>
              <a (click)="selectTab('Assignees')" class="dropdown-item" href="javascript:void(0);">Assignees</a>
              <a (click)="cancelRequest()" class="dropdown-item" href="javascript:void(0);">Cancel Request</a>
              <!-- <a (click)="selectTab('Conversations')" class="dropdown-item" href="javascript:void(0);">Conversations</a> -->
            </div>
          </div>
          <span class="text-sent d-block" *ngIf="reqStatus?.toLowerCase()=='sent'||reqStatus?.toLowerCase()=='received';else rStatus">
            <strong>Data Delivered</strong>
            <i class="fa fa-check cyanTxt ng-star-inserted"></i>
          </span>

          <ng-template #rStatus>
            <span class="text-deadline d-block" *ngIf="dueDate">
              <strong>{{reqStatus=='N'?'NEW DATA REQUEST':reqStatus}}:</strong> Due in {{dueInDays||dueInDays===0?dueInDays:dueDate}}
              days
              <span class="ml-1 circle circle-deadline"></span>
            </span>
          </ng-template>

        </div>
      </div>
      <div class="col-md-auto">
        <div *ngIf="reqStatus=='N'||reqStatus=='New'||reqStatus?.toLowerCase()=='incomplete'||reqStatus?.toLowerCase()=='inprogress'"
          class="col-md-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary w-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add Data
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" (click)="addData('import-file')" type="button">Import data files</button>
              <button class="dropdown-item" (click)="addData('import-data')" type="button">Start with a template</button>
              <button class="dropdown-item" (click)="addData('add-manual')" type="button">Add data manually</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary w-btn" [ngClass]="{'disabled' : reqStatus=='N'||reqStatus=='New'}" [disabled]="reqStatus=='N'||reqStatus=='New'"
            (click)="readyForApprove()" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
            Ready for delivery
          </button>
        </div>
        <p-growl [(value)]="msgs"></p-growl>
        <div *ngIf="reqStatus?.toLowerCase()=='pendingapproval'" class="col-md-auto">
          <div *ngIf="isApprover;else dataLocked">
            <h3 class="childTitle pb-0"> Do you approve delivery of this user’s data? </h3>
            <button type="button" (click)="cancelReadyDelivery()" class="btn btn-secondary w-btn mr-3"> No </button>
            <button type="button" (click)="sendData()" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
              Yes, send it </button>
          </div>
          <ng-template #dataLocked>
            <h3 class="childTitle pb-0"> This data is locked while pending approval for delivery. </h3>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="userView mb30 import-data clientDetails pl-0 pt-0">
      <div class="row">
        <div class="col-lg-2 filterPanel" id="fitlerResult">
          <form class="">
            <div class="form-group">
              <label for="userSeachbox" class="textLabel font-weight-bold text-small text-uppercase">Collected Data</label>
              <input type="text" id="userSeachbox" aria-describedby="Filter Collected Data" class="form-control searchIcon" name="userSeachbox"
              />
            </div>
          </form>
          <span class="importDataTitle pt-1 pb-1">BROWSE BY CATEGORY</span>
          <p-panelMenu [model]="items"></p-panelMenu>
        </div>
        <div class="col-lg-10" *ngIf="!showRecords">
          <h1 class="subtitle">Client details</h1>
          <div class="panel panel-default">
            <ngb-tabset #tabs="ngbTabset" [activeId]="activeTabId">
              <ngb-tab id="ClientProfile">
                <ng-template ngbTabTitle class="text-large-bold">
                  PROFILE
                </ng-template>
                <ng-template ngbTabContent class="pl-0">
                  <app-profile [requestId]="requestId" (clientName)="clientName($event)"></app-profile>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="History" [disabled]="!isProfileSaved">
                <ng-template ngbTabTitle class="text-large-bold">
                  HISTORY
                </ng-template>
                <ng-template ngbTabContent class="pl-0">
                  <app-history></app-history>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="Assignees" [disabled]="!isProfileSaved">
                <ng-template ngbTabTitle class="text-large-bold">
                  ASSIGNEES
                </ng-template>
                <ng-template ngbTabContent class="pl-0">
                  <app-assignees [requestId]="requestId"></app-assignees>
                </ng-template>
              </ngb-tab>
              <!-- <ngb-tab id="Conversations" [disabled]="!isProfileSaved">
                                        <ng-template ngbTabTitle class="text-large-bold">
                                            CONVERSATIONS
                                        </ng-template>
                                        <ng-template ngbTabContent class="pl-0">
                                            <app-conversations></app-conversations>
                                        </ng-template>
                                    </ngb-tab> -->
            </ngb-tabset>
          </div>
        </div>
        <div class="col-lg-10" *ngIf="showRecords">
          <div class="tempTabs">
            <ngb-tabset>
              <ngb-tab title="Records">
                <ng-template ngbTabContent>
                  <app-records [informationTypeId]="informationTypeId"></app-records>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Imported Files">
                <ng-template ngbTabContent>
                  <app-imported-files [requestId]="requestId" [informationTypeId]="informationTypeId"></app-imported-files>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
