<div class="login-wrapper">
  <div class="backBtn">
    <a href="/login">
      <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
        <title id="catTitle">Back to login</title>
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" class="backBtnColor" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </div>
  <div class="login-wrapper-inner">
    <div class="login-container">

      <div class="row justify-content-center">
        <!-- <div class="col-md-offset-4 col-md-4 login"> -->
        <div class="col-md-4 text-center mt-5">
          <a href="/login">
            <img class="idLink-logo" src="/assets/images/logo.svg" alt="SafeProfile">
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4 login">
          <div *ngIf="!isLinkValid;else link" class="register-title text-center" for="login-email">Forgot password?</div>
          <ng-template #link>
            <div class="register-title text-center" for="login-email">Sorry, that link is no longer valid.</div>
          </ng-template>
          <p class="text-center">Enter your registered email address and we’ll send you a link to reset your password.</p>
          <!-- <div *ngIf="!isLinkValid" class="errorMessages ml-30">Sorry, we don’t recognize that email address.</div> -->
          <form (ngSubmit)="onSubmit()" [formGroup]="joinForm" class="joinForm">


            <div class="form-group text-left">
              <div *ngIf="joinForm.controls.email.hasError('required') && joinForm.controls.email.touched" class="errorMessages p-0 m-0">
                Company Name is required.
              </div>
              <label class="sr-only" for="login-email">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <img src="/assets/images/icon-email.svg" class="sfIconTrans" alt="" />
                  </div>
                </div>
                <input formControlName="email" type="text" class="form-control border-left-0" id="login-email" placeholder="email" required>
              </div>
            </div>

            <div class="form-group loginBtn">
              <button type="submit" class="btn btn-primary btn-block" id="signupBtn" [disabled]="!joinForm.valid">SEND LINK</button>
            </div>
            <div *ngIf="forgotMsg" class="col-md-12">
              <div class="alert alert-success" role="alert">Reset password link has been sent to your mail</div>
              <a [routerLink]="['/login']">Click here to go to the Login Page</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bgWrapper" aria-hidden="true">
      <img src="/assets/images/group.svg" alt="" />
    </div>
  </div>
</div>