<div class="dropdown">
  <button class="btn btn-light dropdown-toggle safeOnlinedropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My IDLink
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
  </div>
</div>


<!-- <div class="dropdown">
  <a class="dropdown-toggle safeOnlinedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
    <span class="appTitle">IDLink</span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button type="button" class="dropdown-item" (click)="logout()">Logout</button>
  </div>
</div> -->
