<h2 class="subTitle text-center">Choose the license model that suits your organization.</h2>
<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="table-responsve">
      <table class="table table-striped table-hover showPlans">
        <thead>
          <tr>
            <th class=""></th>
            <th *ngFor="let plan of initialPlanList" class="text-center">
              <div class="planName">{{plan.name}}</div>
              <div class="planCurrency">{{plan.currencySymbol + plan.licenseCostMonthly}}</div>
              <div class="planDuration">/month</div>
              <button class="btn btnDefault btn-block" (click)="createAccount(plan.name)">SIGN UP</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of planList">
            <td class="text-center" *ngFor="let item of plan">
              <div *ngIf="isBoolean(item); else showVal ">
                <i *ngIf="isBooleanTrue(item)" class="fa fa-check cyanTxt"></i>
              </div>

              <ng-template #showVal>
                <span>{{item}}</span>
              </ng-template>
            </td>

          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>
