<div class="login-wrapper">
  <div class="login-wrapper-inner">
    <div class="login-container row justify-content-center">
      <div class="col-md-offset-4 col-md-4 login">
        <div class="text-center">
          <a [routerLink]="['/']">
            <img class="logo-round" src="/assets/images/idLink_logo.svg" alt="ID Link">
          </a>
        </div>
        <h1 class="register-title text-center">{{pageTitle}}</h1>
        <!-- <h2 class="sub-heading text-center">BILLING ADDRESS</h2> -->

        <form [formGroup]="createForm" class="createForm">


          <h2 class="sub-heading text-center">COMPANY INFO</h2>


          <div class="form-group">
            <div *ngIf="createForm.controls.companyName.hasError('required') && createForm.controls.companyName.touched" class="errorMessages">
              Company Name is required.
            </div>
            <label class="sr-only sr-only-focusable" for="login-companyName">Company Name</label>
            <input formControlName="companyName" class="form-control" id="login-companyName" id="login-companyName" type="text" placeholder="Company Name"
              aria-required="true">
          </div>

          <div class="form-group">
            <label class="sr-only sr-only-focusable" for="login-companyWebsite">Company Website</label>
            <input formControlName="companyWebsite" class="form-control" id="login-companyWebsite" id="login-companyWebsite" type="text"
              placeholder="Company Website">
          </div>

          <div class="form-group">
            <div *ngIf="createForm.controls.companyPhone.hasError('required') && createForm.controls.companyPhone.touched" class="errorMessages">
              Company Phone is required.
            </div>
            <label class="sr-only sr-only-focusable" for="login-companyPhone">Company Phone</label>
            <input formControlName="companyPhone" class="form-control" id="login-companyPhone" id="login-companyPhone" type="text" placeholder="Company Phone"
              aria-required="true">
          </div>
          <div class="form-group">
            <div *ngIf="createForm.controls.cvrNumber.hasError('required') && createForm.controls.cvrNumber.touched" class="errorMessages">
              CVR/VAT Number is required.
            </div>
            <label class="sr-only sr-only-focusable" for="login-cvrNumber">CVR Number</label>
            <input formControlName="cvrNumber" class="form-control" id="login-cvrNumber" id="login-cvrNumber" type="text" placeholder="CVR/VAT Number"
              aria-required="true">
          </div>
          <div class="form-group loginBtn">
            <button type="button" class="btn btnDefault btn-block" id="signupBtn" (click)="companyInfo()" [disabled]="!createForm.valid">DONE</button>
          </div>
        </form>
      </div>
      <div class="bgWrapper" aria-hidden="true">
        <img src="/assets/images/group.svg" alt="" />
      </div>
    </div>
  </div>
</div>
