<div class="row rightArea">
        <div class="col-md-12 col-sm-12 rightContent">
            <div class="row step2Cont">
                <div class="col-md-3 col-sm-3 step2Img">
                    <img src="/assets/images/step1-img.jpg" alt=""/>
                </div>
                <div class="col-md-9 col-sm-9">
                    <h2>What banks do you deal with?</h2>
                    <div class="searchBox">
                        <span class="searchIcon"><img src="/assets/images/search-icon.jpg" alt=""/></span>
                        <input type="text" class="searchInput" placeholder="Search for Company"/>
                    </div>
                    <ul class="companyList">
                        <li><input type="radio"><img src="/assets/images/danish-crown.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/danish-crown.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/dst.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/dst.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/deutsche-bank.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/deutsche-bank.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/denmark.jpg" alt=""/></li>
                        <li><input type="radio"><img src="/assets/images/denmark.jpg" alt=""/></li>
                    </ul>
                    <button type="submit" class="btn btn-primary btn-block letsGoButt nextButt" [routerLink]="['/step1']" id="signupBtn">Next</button>
                </div>
            </div>
        </div>
    </div>
    