<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="headerRow border-top-0 w-20" scope="col">
          Request ID
        </th>
        <th class="headerRow border-top-0" scope="col">
          Description
        </th>
        <th class="headerRow border-top-0" scope="col">
          Action taken by
        </th>
        <th class="headerRow border-top-0 w-15" scope="col">
          Date
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="cursorStyle" *ngFor='let req of recentActivity;let i=index' (click)="goToReqest(req?.requestId,req?.requestStatus,req?.dueInDays,req?.user,req?.dueDate)">
        <th class="idCol" scope="row">
          {{req?.requestId}}
        </th>
        <td>
          {{req?.recentActivity?.activityDescription}}
        </td>
        <td>
          {{req?.recentActivity?.user}}
        </td>
        <td>
          {{req?.recentActivity?.date | date:"MMM d"}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
