<div *ngIf="!isAdmin">
  <h1 class="mb-3">{{pageTitle}}</h1>
  <div class="userView">
    <div class="row">
      <div class="col-lg-2">
        <form class="">
          <div class="form-group">
            <label for="userSeachbox">Search</label>
            <input type="text" id="userSeachbox" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" aria-describedby="Type user status to filter data"
              class="form-control searchIcon">
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default" *ngIf="users">
          <div class="list-group">
            <div class="list-group-item" *ngFor="let user of users|async|customFilter:name">
              <div class="media-box">
                <div class="float-left">
                  <!-- <span class="avatarLetter">{{user?.name?.slice(0, 1)?.toUpperCase()}}</span> -->
                  <span class="avatarLetter">{{user?.name?.slice(0, 1)?.toUpperCase()}}{{user?.name?.slice(0, 1)?.toUpperCase()}}</span>
                  <span *ngIf="user?.latestRequestStatus" class="circle circle-{{user?.latestRequestStatus.toString() | lowercase}} circle-lg bottomPos"></span>
                </div>
                <div class="media-box-body clearfix">
                  <a href="javascript:void(0);" (click)="goToUser(user?.name,user?.dueDateTime,user?.latestRequestId,user?.latestRequestStatus)"
                    class="media-box-heading userName">
                    {{user?.name}}
                  </a>
                  <div class="float-right text-{{user?.latestRequestStatus.toString() | lowercase}}" *ngIf="user?.dueDateTime">Due {{user?.dueDateTime| date:'MMM dd'}}</div>
                  <p class="mb-sm text-{{user?.latestRequestStatus.toString() | lowercase}}" *ngIf="user?.latestRequestStatus">
                    Data request {{user?.latestRequestStatus}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
