<div class="tmpItel-row" id="address" [attr.data-guid]="guid" *ngIf="showItem">
  <div class="row align-items-center">
    <div class="col-md-12">
      <span class="tmplitemHeader pl-0 mb-3">{{data.value}}</span>
    </div>
    <div class="col-sm-10" [ngClass]="{'tmpItel-col-left': true,'isSelected':!inputFocusClass}">
      <!-- <form [formGroup]="createForm" class="createForm"> -->
      <div class="form-group">
        <label class="sr-only sr-only-focusable" for="login-companyName">Address Line 1</label>
        <input formControlName="addressLine1" class="form-control safePlaceHolder readonly" id="addressLine1" type="text" placeholder="Address line 1"
          aria-required="true" readonly>
      </div>
      <div class="form-group">
        <label class="sr-only sr-only-focusable" for="login-companyName">Address Line 1</label>
        <input formControlName="addressLine2" class="form-control safePlaceHolder readonly" id="addressLine2" type="text" placeholder="Address line 2"
          aria-required="true" readonly>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="form-group">
            <label class="sr-only sr-only-focusable" for="login-city">City</label>
            <input formControlName="city" class="form-control safePlaceHolder readonly" id="login-city" type="text" placeholder="City"
              aria-required="true" readonly>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group">
            <label class="sr-only sr-only-focusable" for="login-postalCode">Postal Code</label>
            <input formControlName="postalCode" class="form-control safePlaceHolder readonly" id="login-postalCode" type="text" placeholder="Postal Code"
              aria-required="true" readonly>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-sm-2">
      <img src="/assets/images/icon-tb-settings.svg" (click)="openSettings(data)" class="tmplIcon mr-1 pr-0" alt="Modify this field"
      />
      <img src="/assets/images/icon-tb-trash.svg" (click)="deleteItem(data?.guid)" class="tmplIcon" alt="Delete this field" />
    </div>
  </div>
</div>
