<div class="row pb-5">
  <div class="col-lg-6 mr-auto">
    <h2 class="subTitle">{{pageTitle}}</h2>
    <h3 class="childTitle">Assign a new role</h3>
    <p-growl [(value)]="msgs"></p-growl>
    <form [formGroup]="createForm" class="createForm">
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="(createForm.controls.email.hasError('required') && createForm.controls.email.touched)||(createForm.controls.email.hasError(
            'email') && createForm.controls.email.touched)" class="errorMessages pb-0">
            Email is invalid.
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="sf_inputLabel text-uppercase" for="login-email">email</label>
            <input type="email" formControlName="email" class="form-control safePlaceHolder noBorder" id="login-email" email aria-required="true"
              aria-describedby="loginEmailHelpBlock" placeholder="example: email@domain.com" />
            <!-- <label class="sr-only sr-only-focusable" for="login-email">EMAIL</label>
            <input formControlName="email" class="form-control safePlaceHolder noBorder" id="login-email" type="email" email placeholder="Email"
              aria-required="true" aria-describedby="loginEmailHelpBlock"> -->
          </div>
        </div>
        <div class="col-lg-5">
          <div ngbDropdown class="form-group dropdownContainer mb-0" id="selectRole">
            <label class="sf_inputLabel text-uppercase" for="selectRole">Select Role</label>
            <button class="btn safeDropdown" id="dropdownMenu1" ngbDropdownToggle>
              {{displayitem}}
            </button>
            <div ngbDropdownMenu class="dropdown-menu" id="countries" aria-labelledby="dropdownMenu1">
              <div *ngFor="let userRole of userRoles">
                <button class="dropdown-item" id="userRole.roleType" (click)="changeUserRole(userRole.roleType)">{{userRole.roleType}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-primary" id="signupBtn" (click)="assignRole(createForm.value.email,displayitem)" [disabled]="!createForm.valid"
            [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">Assign</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11">
          <small id="loginEmailHelpBlock" class="form-text text-muted">
            {{customMessage}}
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-8 mr-auto">
    <div class="row pt-20" *ngIf="userTypes && userTypes.length">
      <div class="col-lg-12">
        <h3 class="childTitle">Existing Users</h3>
      </div>
    </div>
    <div class="row align-items-center userType" *ngFor="let userType of userTypes;let i=index">
      <div class="col-md-4">
        <div class="userName wrapText">{{userType.displayName}}
          <img *ngIf="i==editIndex" (click)="deleteRole(userType.userId,userType.roleType,'','',false)" src="/assets/images/icon-tb-trash.svg"
            alt="Delete user role for {{userType.displayName}}" class="pl-1" />
        </div>
        <div class="userType pb-0 pt-1">{{userType.roleType}}</div>
      </div>
      <div class="col-md-8">
        <!-- button next to this line will appear when default page load is done -->
        <button class="btn btn-light usertypeBtn" *ngIf="i!=editIndex" (click)="editUser(userType,i)" id="userType">Edit</button>

        <!-- show this below code when user clicks on edit and hide above button -->
        <div class="row" *ngIf="i==editIndex">
          <div class="col-6 text-right">
            <div ngbDropdown class="form-group dropdownContainer">
              <button class="btn safeDropdown" id="dropdownMenu1" ngbDropdownToggle>
                {{displayEdititem}}
              </button>
              <div ngbDropdownMenu class="dropdown-menu" id="countries" aria-labelledby="dropdownMenu1">
                <div *ngFor="let userRole of userRoles">
                  <button class="dropdown-item" id="userRole.roleType" (click)="changeEditUserRole(userRole.roleType)">{{userRole.roleType}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <button class="btn btn-light usertypeBtn" (click)="editIndex=-1" id="cancleAction">Cancel</button>
            <button class="btn btn-primary usertypeBtn" (click)="deleteRole(userType.userId,userType.roleType,userType.username,displayEdititem,true)"
              id="editUserType" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">Save</button>
          </div>
        </div>

        <!-- show or hide above code -->
      </div>
    </div>
    <div class="row pt-20">
      <div class="col-lg-12">
        <h3 class="childTitle">Approvals</h3>
      </div>
    </div>
    <div class="row pt-20">
      <div class="col-lg-1">
        <mat-slide-toggle (change)="isActive=!isActive"></mat-slide-toggle>
      </div>
      <div class="col-lg-11">
        Require approval on all data deliveries by a second system user
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <label for="sysUserSearch" class="text-normal">
          <strong> Default approver:</strong>
        </label>
        <div ngbDropdown class="form-group dropdownContainer">
          <button [ngClass]="{'btn safeDropdown': true, 'disabled': !isActive}" id="dropdownMenu1" ngbDropdownToggle>
            {{displayApprover}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu" id="appprover" aria-labelledby="dropdownMenu1">
            <div *ngFor="let user of userList">
              <button class="dropdown-item" [disabled]="!isActive" (click)="displayApprover=user.name;userId=user.id">{{user.name}}</button>
            </div>
          </div>
        </div>
        <!-- <select class="form-control noBorder" name="user" [disabled]="!isActive" (change)="onChange(user)" required [(ngModel)]="user">
          <option *ngFor="let user of [defaultUser].concat(userList)" [value]="user">
            {{user.name}}
          </option>
        </select> -->
        <button class="btn btn-primary usertypeBtn" (click)="setDefaultApprover()" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">Set</button>
      </div>
      <div class="col-lg-5 text-muted">This can be changed for a specific delivery in the user profile card settings.</div>
    </div>
  </div>
</div>
