<div class="login-wrapper">
  <div class="backBtn">
    <a href="/login">
      <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
        <title id="catTitle">Back to login</title>
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" class="backBtnColor" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </div>
  <div class="login-wrapper-inner">
    <div class="login-container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-offset-4 col-md-4 login"> -->
        <div class="col-md-4 text-center mt-5">
          <a href="/login">
            <img class="idLink-logo" src="/assets/images/idlink_logo_h.svg" alt="IDLink">
          </a>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="newAccount">
        <div class="col-md-4 login">
          <div *ngIf="!newAccMsg">
            <div class="register-title text-center" for="login-email">Create password</div>
            <p class="text-center">Enter a new password below, and you will be redirected to login. Password must contain:</p>
            <div class="row">
              <ul class="col-12 offset-md-3 col-md-6">
                <li>At least 8 characters</li>
                <li>1 upper case letter</li>
                <li>1 lower case letter</li>
                <li>1 number</li>
              </ul>
            </div>
            <div>
              <form (ngSubmit)="onSubmit()" [formGroup]="joinForm" class="loginForm">
                <div class="form-group">
                  <div class="errorMessages pb-0 mb-0" *ngIf="joinForm.controls.confirmPassword.errors?.MatchPassword">Password does not match. Please try again.</div>
                  <div *ngIf="joinForm.controls.password.hasError('required') && joinForm.controls.password.touched" class="errorMessages pb-0 mb-0">
                    Password is required
                  </div>
                  <div *ngIf="joinForm.controls.password.hasError('pattern') && joinForm.controls.password.touched" class="errorMessages pb-0 mb-0">
                    Please follow the Password pattern given above
                  </div>
                  <div class="input-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label pb-0">
                    <div class="input-group-addon noBorder">
                      <img src="/assets/images/icon-lock.svg" alt="" />
                    </div>
                    <input type="password" formControlName="password" class="form-control noBorder safePlaceHolder" id="login-password" aria-required="true">
                    <label class="inputLabel" for="login-password">PASSWORD</label>
                  </div>
                </div>
                <div class="form-group mb-5">
                  <div *ngIf="joinForm.controls.confirmPassword.hasError( 'required') && joinForm.controls.confirmPassword.touched
              " class="errorMessages pb-0 mb-0 ">
                    Confirm Password is required
                  </div>
                  <div class="input-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label pb-0">
                    <div class="input-group-addon noBorder">
                      <img src="/assets/images/icon-lock.svg" alt="" />
                    </div>
                    <input type="password" formControlName="confirmPassword" class="mdl-textfield__input noBorder safePlaceHolder" id="login-confirmPassword"
                      aria-required="true">
                    <label class="inputLabel" for="login-confirmPassword">CONFIRM PASSWORD</label>
                  </div>
                </div>
                <div class="form-group loginBtn">
                  <button type="submit" class="btn btn-primary btn-block" id="signupBtn" [disabled]="!joinForm.valid">CONFIRM</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="newAccMsg">
            <!-- <div class="alert alert-success" role="alert">You account has been created. Please click on the activation link in your mail to activate your account</div> -->
            <div class="register-title text-center" for="login-email">Welcome to IDLink</div>
            <p class="text-center">Your account has been successfully created.
              <br/>
              <!-- <br/> Please
                  <a href="/login">click here</a> and login</p>   -->
              <a href="/login"> Click here to go to the Login Page</a>
          </div>

        </div>
      </div>
    </div>
    <div class="bgWrapper" aria-hidden="true">
      <img src="/assets/images/group.svg" alt="" />
    </div>
  </div>
</div>
