<div class="container-fluid heightWrapper" style="background-color: #FFF;">
  <div class="container borderBottom pt-3">
    <div class="row justify-content-between">
      <div class="col-4">
        <img class="IdlinkConsumerBrand" src="{{imageData}}" alt="" />
      </div>
      <div class="col-4 text-right">
        <img class="IdlinkConsumerlogo" src="/assets/images/png/poweredByIDLink.png" alt="Powered By IDLink" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-md-center mt-5">
      <div class="col-md-4">
        <h2>REQUEST YOUR DATA</h2>
        <p class="lineH_1">Select below which data you would like to include, and we’ll send it to you in a secure, easy-to-read format.</p>
      </div>
    </div>
    <div class="row mt-3 justify-content-md-center">
      <div class="col-md-4">
        <div class="row">
          <div class="col text-uppercase info-text">
            Type of Information
          </div>
          <div class="col-3 text-right">
            <button class="btn btn-light mr-1 pb-1 pt-1" (click)="includeAll()"> Include all </button>
          </div>
        </div>
        <hr/>
        <div class="row" *ngFor="let category of consumerService.categories;let i=index">
          <div class="col">
            {{category.name}}
          </div>
          <div class="col-3 text-center">
            <p-inputSwitch onLabel="Yes" offLabel="X" [(ngModel)]="category.isActive" (onChange)="handleChange($event,i)" styleClass="customInputSwith"></p-inputSwitch>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <button class="btn btn-secondary mr-3" (click)="nextBtn()"> Next </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
