.row+.row {
    margin-top: 1rem;
}

.IdlinkConsumerBrand {
    display: inline-block;
    height: 50px;
    width: auto;
    max-height: 50px;
}

.IdlinkConsumerlogo {
    display: inline-block;
    max-height: 50px;
    width: auto;
}