<div class="crcMain">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 userDetails">
                        <span class="avatarLetter">U2</span>
                        <div class="btn-group ">
                            <button type="button" class="dropButt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>                                
                            </button>
                            <span class="nameTxt">Tom Clarke</span>
                            <span class="requestTxt">Request #314944</span>
                            <button type="button" class="blueDropButt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                
                                <i class="fa fa-angle-down" aria-hidden="true"></i>                                
                            </button>
                            <span class="timeTxt">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Due in 5 Days
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">Link One</button>
                                <button class="dropdown-item" type="button">Link One</button>
                                <button class="dropdown-item" type="button">Link One</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 closeBut">
                        <button aria-label="Close" class="btn close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 leftCont">
                <h3>FILTER DATA -</h3>
                <ul class="badgesList">
                    <li *ngFor="let item of filters">
                        <a class="{{item.class}}" href="#">{{item.name}}</a>
                        <span class="badge">{{item.val}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 rightCont">
                <div class="dragFileArea">
                    
                    <ng-template matStepLabel>Chose Files</ng-template>
                    <div class="stageEmpty isSmall">
                        <span>Drag files here or click to upload</span>
                        <span>(Document, video, image, etc)</span>
                        <div class="importFile">
                            <p-fileUpload name="myfile[]" url="https://httpbin.org/post" (onUpload)="onUpload($event)" multiple="multiple" auto="auto"
                                maxFileSize="10000000">
                            </p-fileUpload>
                        </div>
                    </div>
                </div>
                <div class="tabArea">
                    <ngb-tabset>
                        <ngb-tab title="Records">
                            <ng-template ngbTabContent>
                                <!--Record Content-->
                                <div class="recordCont" *ngIf="profile.length !== 0">
                                    <h4>profile information</h4>
                                    <ul class="addBox">
                                        <li class="attached" *ngFor="let item of profile">
                                            <div class="attachedCont">
                                                <div class="card border-0">
                                                    <div class="header text-center">
                                                    </div>
                                                    <div class="body pt-2 pb-2">
                                                        <span class="nameTxt">{{item.ifName}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_1}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_2}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_3}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="selected">
                                                        <i class="fa fa-check text-white" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.probar }"></div>
                                            </div>
                                            <div class="progressOk">
                                                <i class="fa fa-check text-white" aria-hidden="true"></i>
                                            </div>
                                        </li>
                                        <li class="attachedCont">
                                            <a href="#">
                                                <span>+</span>Manual Entry</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Files Content-->
                                <div class="recordCont" *ngIf="media.length !== 0">
                                    <h4>media information</h4>




                                    <ul class="addBox">
                                        <li class="attached" *ngFor="let item of media">
                                            <div class="attachedCont">
                                                <div class="card border-0">
                                                    <div class="header text-center">
                                                    </div>
                                                    <div class="body pt-2 pb-2">
                                                        <span class="nameTxt">{{item.ifName}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_1}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_2}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_3}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="selected">
                                                        <i class="fa fa-check text-white" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.probar }"></div>
                                            </div>
                                            <div class="progressOk">
                                                <i class="fa fa-check text-white" aria-hidden="true"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>+</span>Manual Entry</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Files Content-->
                                <div class="recordCont" *ngIf="financial.length !== 0">
                                    <h4>Financial information</h4>

                                    <ul class="addBox">
                                        <li class="attached" *ngFor="let item of financial">
                                            <div class="attachedCont">
                                                <div class="card border-0">
                                                    <div class="header text-center">
                                                    </div>
                                                    <div class="body pt-2 pb-2">
                                                        <span class="nameTxt">{{item.ifName}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_1}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_2}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <span class="nameTxt">{{item.field_3}}</span>
                                                        <div class="progress inputForms mb-2 inputBox">
                                                            <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="selected">
                                                        <i class="fa fa-check text-white" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.probar }"></div>
                                            </div>
                                            <div class="progressOk">
                                                <i class="fa fa-check text-white" aria-hidden="true"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>+</span>Manual Entry</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Files">
                            <ng-template ngbTabContent>
                                <div class="recordCont">



                                    <div class="importstage" *ngIf="uploadedFiles.length">
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <strong>File Name</strong>
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Information Types</strong>
                                            </div>
                                        </div> -->
                                        <div *ngFor="let file of uploadedFiles" class="row align-items-center">
                                            <div class="col-md-6">
                                                {{file.name}}
                                                <span class="uploadTime">Uploaded just now</span>
                                            </div>
                                            <div class="col-md-6">
                                                <angular2-multiselect [data]="dropdownList" [(ngModel)]="file.autocompleteTags" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                                    (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                                                    (onDeSelectAll)="onDeSelectAll($event)">
                                                </angular2-multiselect>
                                            </div>
                                        </div>
                                    </div>


                                   
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>


            </div>
        </div>
    </div>
</div>