@import 'colors';
@import 'fonts';

  
    .idLink-logo{
      padding: 14px;
      background: $pink;
      border-radius: 50%;
    }
    .form-group{
      margin-bottom: 1.3rem;
    }
    .logoTxt{
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 60px 0 30px;
      font-family: $roboto;
      color: $grey;
    }
    .input-group-addon.noBorder{
      margin-left: 0;
    }
    .loginInBox{
        display: block;
        border: solid 1px #e0e0e0;
        padding: 0 10px;;
      i{
        display:inline-block;
        width:20px;
        color: #a7a7a7;
      }
      input{
        display:inline-block;
        width:80%;
        border:none;
        padding: 5px 0 3px;
        font-size: 14px;
        padding: 7px 0 5px;
        font-size: 12px;
      }
    }
    .forgotPwd{
        font-size: 11px;
        color: #787878;
    }
    .loginButt{
        background: #ff6463;
        border: none;
        padding: 7px 0;
    }
    .createtxt{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 60px 0 10px;
        font-family: $roboto;
        color: $grey;
      }
      .loginBtn{
        text-align: center;
      }
      .signupBtn{
        font-size: 16px;
        color: #919191;
        border:solid 2px #cdcdcd;
        border-radius:4px;
        padding: 6px 4px;
        background: #fff;
        width:auto;  
        margin: 0 auto;              
      }
      .bgWrapper{
        display: block;
        width: 100%;
        margin-top: 20px;
        img{
            width: 100%;
            margin-bottom: 80px;
            max-width: 100%;
            vertical-align: middle;
            display: inline-block;
            border: 0;
        }
      }