<button (click)="callCloseTB()" type="button" class="close templClosebtn" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="row">
  <div class="col-lg-12">
    <p-growl [(value)]="msgs"></p-growl>
    <div class="tmplBtn">
      <button type="button" class="btn btn-primary mr-5 mt-3" (click)="saveTemplateData()" id="signupBtn" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">Save Changes</button>
    </div>
    <div class="tempContainer pt-2">
      <div id="safe-sidenav" name="safe-sidenav" [ngClass]="{'safe-sivenav': true, 'active': data!=null}">
        <div name="safe-sidenav" class="settingTitle pb-3">Settings</div>
        <div name="safe-sidenav" *ngIf="tableColumns;else otherT">
          <h3 class="textHeading pt-1">Table Column</h3>
          <div *ngFor="let col of tableColumns|slice:1:tableColumns.length">
            <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="col.header" (focus)="focusFunction()" (focusout)="focusOutFunction()"
            />
          </div>
          <h3 class="textHeading pt-3">Table Row</h3>
          <div *ngFor="let col of tableRows">
            <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="col.Column0" (focus)="focusFunction()" (focusout)="focusOutFunction()"
            />
          </div>
        </div>
        <ng-template #otherT>
          <div name="safe-sidenav" *ngIf="data?.id=='dateRange'||data?.id=='fullName';else singleVal">
            <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value" (focus)="focusFunction()" (focusout)="focusOutFunction()"
            />
            <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value1" (focus)="focusFunction()" (focusout)="focusOutFunction()"
            />
            <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value2" (focus)="focusFunction()" (focusout)="focusOutFunction()"
            />
          </div>
          <ng-template #singleVal>
            <div name="safe-sidenav" *ngIf="data">
              <input type='text' name="safe-sidenav" class="form-control" [(ngModel)]="data.value" (focus)="focusFunction()" (focusout)="focusOutFunction()"
              />
            </div>
          </ng-template>

        </ng-template>

      </div>
      <div class="row-fluid">
        <div class="col-lg-9 mr-auto">
          <div class="ui-grid ui-grid-pad ui-grid-responsive">
            <div class="ui-grid-row row-fluid">
              <div class="col-lg-3">
                <div class="ui-widget-content leftRail">
                  <div id="div1" class="tmplList">
                    <h3 tabindex="0" class="title">TEMPLATE ELEMENTS</h3>
                    <ul class="list-group noMargin noPadding">
                      <li tabindex="0" class="list-group-item" id="header" #header pDraggable="dd" (onDragStart)="dragStart($event,header)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-heading.svg" alt="Heading" class="tmplIconProfile" />
                        <span>Header</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="ste" #ste pDraggable="dd" (onDragStart)="dragStart($event,ste)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-shorttextentry.svg" alt="Insert Short Text Entry Field" class="tmplIconProfile" />
                        <span>Short Text entry</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="lte" #lte pDraggable="dd" (onDragStart)="dragStart($event,lte)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-longtextentry.svg" alt="Insert Long Text Entry Field" class="tmplIconProfile" />
                        <span>Long Text Entry</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="number" #number pDraggable="dd" (onDragStart)="dragStart($event,number)" (onDragEnd)="dragEnd($event)"
                        dataElType="number">
                        <img src="/assets/images/icon-tb-number.svg" alt="Insert Number Field" class="tmplIconProfile" />
                        <span>Number</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="table" #table pDraggable="dd" (onDragStart)="dragStart($event,table)" (onDragEnd)="dragEnd($event)"
                        dataElType="object">
                        <img src="/assets/images/icon-tb-table.svg" alt="Insert Table" class="tmplIconProfile" />
                        <span>Table</span>
                      </li>
                      <li class="list-group-item" id="date" #date pDraggable="dd" (onDragStart)="dragStart($event,date)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-date.svg" alt="Insert Date" class="tmplIconProfile" />
                        <span>Date</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="dateRange" #dateRange pDraggable="dd" (onDragStart)="dragStart($event,dateRange)"
                        dataElType="string" (onDragEnd)="dragEnd($event)">
                        <img src="/assets/images/icon-tb-daterange.svg" alt="Insert Date Range" class="tmplIconProfile" />
                        <span>Date Range</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="fullName" #fullName pDraggable="dd" (onDragStart)="dragStart($event,fullName)"
                        (onDragEnd)="dragEnd($event)" dataElType="string">
                        <img src="/assets/images/icon-tb-fullname.svg" alt="Insert Fullname" class="tmplIconProfile" />
                        <span>Full Name</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="address" #address pDraggable="dd" (onDragStart)="dragStart($event,address)"
                        (onDragEnd)="dragEnd($event)" dataElType="string">
                        <img src="/assets/images/icon-tb-address.svg" alt="Insert Address Field" class="tmplIconProfile" />
                        <span>Address</span>
                      </li>
                      <li class="list-group-item" id="email" #email pDraggable="dd" (onDragStart)="dragStart($event,email)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-email.svg" alt="Insert eMail Field" class="tmplIconProfile" />
                        <span>Email</span>
                      </li>
                      <li tabindex="0" class="list-group-item" id="phone" #phone pDraggable="dd" (onDragStart)="dragStart($event,phone)" (onDragEnd)="dragEnd($event)"
                        dataElType="string">
                        <img src="/assets/images/icon-tb-phone.svg" alt="Insert Phone Field" class="tmplIconProfile" />
                        <span>Phone</span>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
              <div class="col-lg-9">
                <!-- <button type="button" md-button (click)="sidenav.open()">
                                Open sidenav
                              </button> -->
                <div class="ui-widget-content rightResult" id="div2" #divE2 pDroppable="dd" dragEffect="move" (onDrop)="drop($event,divE2)">
                  <!-- <label class="sr-only sr-only-focusable" for="tempaltename">Template Name</label> -->
                  <label class="tmpllabel mb-0" for="templateName">Form Name</label>
                  <input class="form-control safePlaceHolder noBorder mb-2 pt-0 width50" [(ngModel)]="templateName" id="templateName" type="text"
                    required value="{{templateName}}" aria-required="true">
                  <!-- <label for="templatecategories" class="sr-only sr-only-focusable">Select Categories</label> -->

                  <label for="templatecategories" class="tmpllabel mb-0 pt-3">Information Type</label>
                  <div class="dropdown" id="selectRole">
                    <button class="btn btn-light_2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{informationTypeName}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <div *ngFor="let infotype of infoTypes">
                        <a class="dropdown-item" href="javascript:void(0);" id="infotype.id" (click)="changeInfoType(infotype.id,infotype.name)">{{infotype.name}} </a>
                      </div>
                    </div>
                  </div>


                  <div class="stageEmpty isSmall" *ngIf="!hideDrag">
                    <span>Drag items here from the panel on the left</span>
                  </div>
                  <div class="tmplMinheight mt-5 wrapper">
                    <tb-template [dragula]='"first-bag"' [dragulaModel]="sharedData.templateData"></tb-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
