<div class="row">
    <div class="col-md-12 col-sm-12 rightArea">
        <div class="rightContent">
            <div class="headerTxt">
                <h2>Welcome to Safe Profile</h2>
                <p>To get started, let's find some of the companies you are already dealing<br/>with so you can manage the data you're shareing with them.</p>
            </div>
            <div class="welcomeImg">
                <img src="/assets/images/step1-img.jpg" alt=""/>
            </div>
            <button type="submit" class="btn btn-primary btn-block letsGoButt" [routerLink]="['/step1']" id="signupBtn">Let's go</button>
        </div>
    </div>
</div>


