<div class="tmpItel-row" id="dateRange" [attr.data-guid]="guid" *ngIf="showItem">
    <div class="row align-items-center" [ngClass]="{'tmpItel-col-left': true,'isSelected':!inputFocusClass}">
        <div class="col-sm-10">
            <!-- <form> -->
            <div class="form-group row">
                <label for="datetimepicker" class="col-sm-12 col-form-label tmpllabel " (focus)="focusFunction()" (focusout)="focusOutFunction()">{{data.value}}</label>
                <div class="col-md-6">
                    <!-- <input class="form-control safePlaceHolder" id="datetimepicker1" type="text" aria-required="true"> -->
                    <div class='input-group date' id='datetimepicker1'>
                        <label id="fromdtHelpBlockFrom" class="form-text text-muted mr-1">{{data.value1}}</label>
                        <p-calendar (focus)="focusFunction()" (focusout)="focusOutFunction()" showIcon="true" [(ngModel)]="valueFrom"></p-calendar>

                    </div>

                </div>
                <div class="col-md-6">
                    <!-- <input class="form-control safePlaceHolder" id="datetimepicker1" type="text" aria-required="true"> -->
                    <div class='input-group date' id='datetimepicker2'>
                        <label id="fromdtHelpBlockTo" class="form-text text-muted mr-1">{{data.value2}}</label>
                        <p-calendar (focus)="focusFunction()" (focusout)="focusOutFunction()" showIcon="true" [(ngModel)]="valueTo"></p-calendar>

                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>
        <div class="col-sm-2">

            <img src="/assets/images/icon-tb-settings.svg" (click)="openSettings(data)" class="tmplIcon mr-1 pr-0" alt="Modify this field" />
            <img src="/assets/images/icon-tb-trash.svg" (click)="deleteItem(data?.guid)" class="tmplIcon" alt="Delete this field" />

        </div>
    </div>
</div>