<div *ngIf="!isAdmin">
  <div class="row" aria-hidden="true" *ngIf="showRolealert" aria-hidden="true">
    <div class="col">
      <div class="alert alert-notification alert-dismissible fade show" role="alert">
        <div class="box-3" [ngClass]="{'open': showRolealert}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">close</span>
          </button>
          <svg class="notificationIco float-left mr-1" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g id="icon-notify">
              <title>Notification Icon</title>
              <path d="M22.164 24.933H0l.592-.956c2.341-3.78 2.37-13.18 2.37-13.274 0-4.25 3.373-7.73 7.6-7.943V.627A.63.63 0 0 1 11.192 0a.63.63 0 0 1 .632.627v2.147c4.122.321 7.377 3.755 7.377 7.929 0 .094.03 9.493 2.37 13.274l.592.956zM2.175 23.678H19.99c-2.026-4.435-2.05-12.603-2.05-12.975 0-3.693-3.026-6.698-6.746-6.698h-.222c-3.72 0-6.745 3.005-6.745 6.698 0 .372-.025 8.54-2.05 12.975zM11.082 30c-1.888 0-3.425-1.526-3.425-3.401a.63.63 0 0 1 .632-.628.63.63 0 0 1 .632.628c0 1.183.97 2.146 2.16 2.146a2.156 2.156 0 0 0 2.162-2.146.63.63 0 0 1 .632-.628.63.63 0 0 1 .631.628c0 1.875-1.536 3.401-3.424 3.401z"
              />
            </g>
          </svg>
          <div class="float-left">
            <ul class="pl-2 mb-0">
              <li *ngIf='userRoleType==="admin"'>
                You are logged in as an
                <strong>Administrator</strong>. You can manage settings and templates, but cannot access any customer data or process
                requests.
              </li>
              <li *ngIf='userRoleType==="owner"'>
                You are logged in as the
                <strong>Owner</strong>. You can manage settings and templates, but cannot access any customer data or process requests.
              </li>
              <li *ngIf='userRoleType==="systemmanager"'>
                You are logged in as a
                <strong>System Manager</strong>. You can process requests, but access to settings will be restricted.
              </li>
              <li *ngIf='userRoleType==="systemuser"'>
                You are logged in as a
                <strong>System User</strong>. You can process requests, but access to settings will be restricted.
              </li>
            </ul>
            <button type="button" data-dismiss="alert" (click)="dontShow()" class="btn btn-link">Do not show me again</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" aria-hidden="true" *ngIf="showNotification" aria-hidden="true">
    <div class="col">
      <div class="alert alert-notification alert-dismissible fade show" role="alert">
        <div class="box-3" [ngClass]="{'open': showNotification}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">close</span>
          </button>
          <svg class="notificationIco float-left mr-1" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g id="icon-notify">
              <title>Notification Icon</title>
              <path d="M22.164 24.933H0l.592-.956c2.341-3.78 2.37-13.18 2.37-13.274 0-4.25 3.373-7.73 7.6-7.943V.627A.63.63 0 0 1 11.192 0a.63.63 0 0 1 .632.627v2.147c4.122.321 7.377 3.755 7.377 7.929 0 .094.03 9.493 2.37 13.274l.592.956zM2.175 23.678H19.99c-2.026-4.435-2.05-12.603-2.05-12.975 0-3.693-3.026-6.698-6.746-6.698h-.222c-3.72 0-6.745 3.005-6.745 6.698 0 .372-.025 8.54-2.05 12.975zM11.082 30c-1.888 0-3.425-1.526-3.425-3.401a.63.63 0 0 1 .632-.628.63.63 0 0 1 .632.628c0 1.183.97 2.146 2.16 2.146a2.156 2.156 0 0 0 2.162-2.146.63.63 0 0 1 .632-.628.63.63 0 0 1 .631.628c0 1.875-1.536 3.401-3.424 3.401z"
              />
            </g>
          </svg>
          <div class="float-left">
            <span class="notification pt-1">To complete your account setup and enable sending and receiving of data:</span>
            <ul class="pl-2 pt-3 pb-2">
              <li>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                  <path d="M21.82 13.030l-1.002-1.002c-0.185-0.185-0.484-0.185-0.668 0l-6.014 6.013-2.859-2.882c-0.186-0.185-0.484-0.185-0.67 0l-1.002 1.003c-0.185 0.185-0.185 0.484 0 0.668l4.193 4.223c0.185 0.184 0.484 0.184 0.668 0l7.354-7.354c0.186-0.185 0.186-0.484 0-0.669zM16 3c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM16 26c-5.522 0-10-4.478-10-10 0-5.523 4.478-10 10-10 5.523 0 10 4.477 10 10 0 5.522-4.477 10-10 10z"
                    class="lightgrayIcon" stroke="none"></path>
                </svg> Provide complete contact information
                <a routerLink="/settings/myProfile">Go to Settings > Profile</a>
              </li>
              <li>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                  <path d="M21.82 13.030l-1.002-1.002c-0.185-0.185-0.484-0.185-0.668 0l-6.014 6.013-2.859-2.882c-0.186-0.185-0.484-0.185-0.67 0l-1.002 1.003c-0.185 0.185-0.185 0.484 0 0.668l4.193 4.223c0.185 0.184 0.484 0.184 0.668 0l7.354-7.354c0.186-0.185 0.186-0.484 0-0.669zM16 3c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM16 26c-5.522 0-10-4.478-10-10 0-5.523 4.478-10 10-10 5.523 0 10 4.477 10 10 0 5.522-4.477 10-10 10z"
                    class="lightgrayIcon" stroke="none"></path>
                </svg> Provide complete company information
                <a routerLink="/settings/company">Go to Settings > Company</a>
              </li>
              <li>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                  <path d="M21.82 13.030l-1.002-1.002c-0.185-0.185-0.484-0.185-0.668 0l-6.014 6.013-2.859-2.882c-0.186-0.185-0.484-0.185-0.67 0l-1.002 1.003c-0.185 0.185-0.185 0.484 0 0.668l4.193 4.223c0.185 0.184 0.484 0.184 0.668 0l7.354-7.354c0.186-0.185 0.186-0.484 0-0.669zM16 3c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM16 26c-5.522 0-10-4.478-10-10 0-5.523 4.478-10 10-10 5.523 0 10 4.477 10 10 0 5.522-4.477 10-10 10z"
                    class="lightgrayIcon" stroke="none"></path>
                </svg> Verify your website
                <a routerLink="/settings/company">Go to Settings > Company</a>
              </li>
            </ul>
            <button type="button" data-dismiss="alert" (click)="closeNotification()" class="btn btn-link">I'll do this later</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>{{pageTitle}}</h1>
  <!-- Dashboard for all uses -->

  <div class="row dashboard">
    <div class="col whiteBg pl-0 pr-0 mr-15 ml-15">
      <div class="dashboardMinheight awaitingItems">
        <span class="text-large-bold pl-20">Deliveries awaiting your approval
          <a class="pl-2 viewAll" routerLink="/incoming-data/pendingapproval">view all</a>
        </span>
        <app-my-to-approve></app-my-to-approve>
      </div>
    </div>
    <div class="col whiteBg pl-0 pr-0 mr-15 ml-15">
      <div class="dashboardMinheight inprocessItems">
        <span class="text-large-bold pl-20">Requests being processed
          <a class="pl-2 viewAll" routerLink="/incoming-data/Inprocess">view all</a>
        </span>
        <app-current-request></app-current-request>
      </div>
    </div>
  </div>

  <div class="row dashboard">
    <div class="col whiteBg pl-0 pr-0 mr-15 ml-15">
      <div class="dashboardItems dashboardMinheight pendingItems">
        <span class="text-large-bold pl-20">New data requests
          <a class="pl-2 viewAll" routerLink="/incoming-data/New">view all</a>
        </span>
        <app-pending-request></app-pending-request>
      </div>
    </div>
    <div class="col whiteBg pl-0 pr-0 mr-15 ml-15">
      <div class="dashboardItems dashboardMinheight recentItems">
        <span class="text-large-bold pl-20">Recent activity
          <a class="pl-2 viewAll" routerLink="/reports">view all</a>
        </span>
        <app-recent-activity></app-recent-activity>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row dashboard mb-3">
  <div class="col-md-6 pl-0">
    <div class="row dashboardItems dashboardMinheight ml-0">
      <div class="col awaitingItems">
        <span class="text-large-bold pl-2-5">Deliveries awaiting your approval
          <a class="pl-2" routerLink="/incoming-data/pendingapproval">view all</a>
        </span>
        <app-my-to-approve></app-my-to-approve>
      </div>
    </div>
    <div class="row dashboardItems dashboardMinheight ml-0  mt-3">
      <div class="col pendingItems">
        <span class="text-large-bold pl-2-5">New data requests
          <a class="pl-2" routerLink="/incoming-data/New">view all</a>
        </span>
        <app-pending-request></app-pending-request>
      </div>
    </div>
  </div>
  <div class="col-md-6 pl-0 pr-0">
    <div class="row dashboardItems dashboardMinheight">
      <div class="col inprocessItems">
        <span class="text-large-bold pl-2-5">Requests being processed
          <a class="pl-2" routerLink="/incoming-data/Inprocess">view all</a>
        </span>
        <app-current-request></app-current-request>
      </div>
    </div>
    <div class="row dashboardItems dashboardMinheight mt-3">
      <div class="col recentItems">
        <span class="text-large-bold pl-2-5">Recent activity
          <a class="pl-2" routerLink="/reports">view all</a>
        </span>
        <app-recent-activity></app-recent-activity>
      </div>
    </div>
  </div>
</div> -->
