<div class="row justify-content-md-center">
  <div class="col-md-8 text-center">
    <h1 class="title">{{title}}</h1>
    <p class="muted">{{titleHelpTxt}}</p>
    <a href="#">{{titleHelpTxtLink}}</a>
  </div>
</div>
<div class="row justify-content-md-center pt-5">
  <div class="col-md-8 SfGenericTemplates sfTmplInputForms sfReviewTags">
    <h2 class="childTitle-2">Master data tag list</h2>
    <p class="muted">{{masterHelpTxt}}</p>
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn circle-showall text-white">
          identifying
          <span class="badge badge-white">x</span>
        </button>
      </div>
      <div class="col-md-3">
          <button type="button" class="btn circle-showall text-white">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
          authenticating
          <span class="badge badge-light"></span>
        </button>
      </div>
      <div class="col-md-3">
          <button type="button" class="btn circle-showall text-white">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
          physical
          <span class="badge badge-light"></span>
        </button>
      </div>
      <div class="col-md-3">
          <button type="button" class="btn circle-showall text-white">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
          demographic
          <span class="badge badge-light"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <button type="button" class="btn circle-showall text-white">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
          knowledge
          <span class="badge badge-light"></span>
        </button>
      </div>
      <div class="col-md-3">
          <button type="button" class="btn circle-showall text-white">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
          preference
          <span class="badge badge-light"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-8 SfGenericTemplates sfTmplInputForms">
      <p-carousel [value]="items">
        <ng-template let-item pTemplate="item">
          <div class="card border-0">
            <div class="header text-center">
              {{item.ifName}}
            </div>
            <div class="body pt-2 pb-2">
              <span>Name</span>
              <div class="progress inputForms mb-2">
                <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Phone</span>
              <div class="progress inputForms mb-2">
                <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>Address</span>
              <div class="progress inputForms mb-2">
                <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span>etc...</span>
              <div class="progress inputForms mb-2">
                <div class="progress-bar bg-white w-100 border" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="selected">
              <i class="fa fa-check text-white" aria-hidden="true"></i>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
