<div class="row justify-content-md-center mt-2">
    <div class="col col-lg-12 sfTemplateStepper">
        <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="onChange($event)" [@.disabled]="true">
            <mat-step [completed]="false">

                <app-select-sector></app-select-sector>
            </mat-step>
            <!-- <mat-step [stepControl]="selectInputForms" [@.disabled]="true"> -->
            <mat-step [completed]="false">

                <app-select-input-forms></app-select-input-forms>
            </mat-step>
            <!-- <mat-step [stepControl]="reviewTags" [@.disabled]="true"> -->
            <mat-step [completed]="false">

                <app-review-tags></app-review-tags>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="nextBtnTmpl">
            <button type="button" class="btn btn-secondary w-btn mr-3" id="cancelInformationtypeBtn" (click)="cancelTmplStepper()">Cancel</button>
            <button type="button" class="btn btn-primary w-btn" (click)="NextStepWizard(stepper)" id="startWizard" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}" [disabled]="stepper.selectedIndex === stepper._steps.length-1">
        Next
      </button>
        </div>
    </div>
</div>