<div class="card minStage mt-2-5">
    <div class="closeBtnModal">
        <button aria-label="Close" class="btn close" type="button" [routerLink]="['/dashboard']">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <app-user-details [name]="name" [dueInDays]="dueInDays" [reqStatus]="reqStatus" [dueDate]="dueDate"></app-user-details>
            </div>
            <div class="col-md-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary w-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Data
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" routerLink="/users/import-file/{{requestId}}" type="button">Import data files</button>
                        <button class="dropdown-item" routerLink="/users/import-data/{{requestId}}" type="button">Start with a template</button>
                        <button class="dropdown-item" routerLink="/users/add-manual/{{requestId}}" type="button">Add data manually</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-btn" (click)="sendData()" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
                    Ready for delivery
                </button>
                <!-- <h3 class="childTitle pb-0"> Do you approve delivery of this user’s data? </h3>
                    <button type="button" (click)="cancelDelivery()" class="btn btn-secondary w-btn mr-3"> No, cancel delivery </button>
                    <button type="button" (click)="sendData()" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}"> Yes, send it </button> -->
            </div>
        </div>
    </div>
    <div class="card-body tmplMinheight">
        <p-growl [(value)]="msgs"></p-growl>
        <div class="row">
            <div class="col">
                <h1 class="subTitle">Import file: Step {{isNext?1:2}} of 2</h1>
            </div>
            <div class="col-md-auto pt3 mt-3">
                <button type="button" class="btn btn-secondary w-btn mr-3" (click)="cancelAction()"> Cancel </button>
                <button type="button" *ngIf="isNext;else showBtn" (click)="goForward(stepper)" class="btn btn-primary w-btn" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
                Next </button>
                <ng-template #showBtn>
                    <button type="button" (click)="import()" class="btn btn-primary" [ngStyle]="{'background-color': app.localStoragebtn(),'border-color': app.localStoragebtn()}">
                    Import </button>
                </ng-template>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-7 importStepper pt-5">
                <mat-horizontal-stepper (click)="setBtn(stepper)" #stepper [linear]="isLinear">
                    <mat-step [stepControl]="firstFormGroup" class="visibleflow">
                        <form enctype="multipart/form-data" [formGroup]="firstFormGroup">
                            <h2 class="subTitle text-center">To import, drag and drop your files, or click:</h2>
                            <ng-template matStepLabel>Chose Files</ng-template>
                            <div class="stageEmpty isSmall">
                                <span>Drag files here or click to upload</span>
                                <span>(Document, video, image, etc)</span>
                                <div class="importFile">
                                    <p-fileUpload name="myfile[]" url="https://httpbin.org/post" (onUpload)="onUpload($event)" multiple="multiple" auto="auto"
                                        maxFileSize="10000000">
                                    </p-fileUpload>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" class="visibleflow">

                        <h2 class="subTitle text-center">Select categories to apply to the imported files:</h2>
                        <ng-template mdStepLabel>Categorize</ng-template>
                        <div class="importstage" *ngIf="uploadedFiles.length">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>File Name</strong>
                                </div>
                                <div class="col-md-6">
                                    <strong>Information Types</strong>
                                </div>
                            </div>
                            <div *ngFor="let file of uploadedFiles" class="row align-items-center">
                                <div class="col-md-6">
                                    {{file.name}}
                                </div>
                                <div class="col-md-6">
                                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="file.autocompleteTags" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>
                                </div>
                            </div>
                        </div>

                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>