<div class="tmpItel-row" id="table" [attr.data-guid]="guid" *ngIf="showItem">
    <div class="row align-items-center" [ngClass]="{'tmpItel-col-left': true,'isSelected':!inputFocusClass}">
        <div class="col-sm-10">
            <p-dataTable [value]="tbldata" [editable]="true" [immutable]="true">
                <p-column field="Column0" header="" [editable]="true">
                    <ng-template let-col let-item="rowData" let-i="rowIndex" pTemplate="body">
                        <span>{{item[col.field]}}</span>
                        <button (click)="delRow(i)" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </ng-template>
                </p-column>
                <p-column *ngFor="let col of tblcols|slice:1:tblcols.length" [field]="col.field" [header]="col.header" [editable]="true">
                    <ng-template pTemplate="header">
                        <label (click)="editable=true" *ngIf="!editable||col.header!=''">{{col.header}}</label>
                        <input #editableInput type="text" [(ngModel)]="col.header" [attr.aria-label]="selectedOption ? selectedOption.label : ' '" value="{{col.header}}" *ngIf="editable" [disabled]="disabled" [attr.placeholder]="placeholder" (click)="onEditableInputClick($event)"
                            (input)="onEditableInputChange($event)" (focus)="onEditableInputFocus($event)" (blur)="onInputBlur($event)">
                        <button *ngIf="col.header!=''" (click)="delcol(col.field)" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </ng-template>
                </p-column>
            </p-dataTable>
            <button class="btn btn-secondary mt-3" type="button" (click)="addCol()">Add Column</button>
            <button class="btn btn-secondary mt-3" type="button" (click)="addRow()">Add Row</button>
        </div>
        <div class="col-sm-2">
            <img src="/assets/images/icon-tb-settings.svg" (click)="openSettings(data)" class="tmplIcon mr-1 pr-0" alt="Modify this field" />
            <img src="/assets/images/icon-tb-trash.svg" (click)="deleteItem(data?.guid)" class="tmplIcon" alt="Delete this field" />
        </div>
    </div>
</div>