<div class="tempTabs">
  <ngb-tabset>
    <ngb-tab title="ALL REQUESTS">
      <ng-template ngbTabContent>
        <app-all-requests></app-all-requests>
      </ng-template>

    </ngb-tab>
    <ngb-tab title="YOUR REQUESTS">
      <ng-template ngbTabContent>
        <app-to-approve></app-to-approve>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="TO APPROVE">
      <ng-template ngbTabContent>
        <app-your-requests></app-your-requests>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
