$grapefruit: #ff514e;
$grapefruit-dark: #b30300;
$tangerine: #ff8f00;
$charcoal-grey: #3f454c;
$greyish: #b0afaf;
$white: #ffffff;
$warm-grey: #8b8b8b;
$dashboardBg: #f9f9f9;
$azure: #1da6fc;
// $primary: #0080ff;
$primary: $azure;
$black: #000000;
$lightBlack: #333333;
$darkGray: #575757;
$darkGray-2: #4a4a4a;
$gray: #999999;
$gray2: $gray;
$graylight: #f3f3f3;
$graylight-2: #cccccc;
// $warm-grey: #8b8b8b;
$graynotification: $warm-grey;
$deadline: $grapefruit;
$success: #72ccb7;
$cyan: #00ddbb;
$cyan_2: #e3f5f5;

/*used in dashboard notification*/

$dark_green: $cyan;
$pending: $tangerine;
$green: #00d1b2;
$btngreen: #28a745;