$roboto: "roboto",
sans-serif;
$lato: 'Lato',
sans-serif;
$sans: 'Open Sans';
$base-font-size: 1rem;
$text-13: 1rem;
$text-8: 0.6154rem;
$text-9: 0.6923rem;
$text-10: 0.7692rem;
$text-11: 0.8462rem;
$text-12: 0.9231rem;
$text-13: 1rem;
$text-14: 1.077rem;
$text-15: 1.154rem;
$text-16: 1.231rem;
$text-17: 1.308rem;
$text-18: 1.385rem;
$text-20: 1.538rem;
$text-22: 1.692rem;
$text-24: 1.846rem;
$text-26: 2rem;
$text-28: 2.154rem;
$text-30: 2.308rem;
$text-32: 2.462rem;
$text-34: 2.615rem;
$text-36: 2.769rem;
$text-38: 2.923rem;
$text-40: 3.077rem;
$text-1-2: 1.2rem;
$text-0-8: 0.8rem;